@charset "UTF-8";
/**
 * admin.scss
 * General EVoucherWP admin styles.
 */
/**
 * Imports
 */
/**
 * EVoucherWP CSS Variables
 */
.form-field {
  display: inline-table;
  width: 48%;
  padding: 0;
  margin: 9px 0 0 0; }
  .form-field label {
    display: block;
    padding: 0 0 3px; }
  .form-field input,
  .form-field textarea {
    width: 95%; }
  .form-field input.checkbox {
    width: auto; }
  .form-field select {
    width: 95%; }
  .form-field small {
    display: block;
    margin: 5px 0 0 0;
    color: #fff; }
  .form-field._evoucherwp_live_field {
    font-weight: bold;
    font-size: 14px; }

.image-preview-wrapper p,
.image-preview-wrapper div {
  display: inline-block; }

.image-preview-wrapper .upload-image-button {
  vertical-align: baseline; }

.image-preview {
  width: 350px;
  height: auto; }

.evoucherwp-url a {
  float: right; }

.hide {
  display: none; }

.evoucherwp .subsubsub {
  margin: -8px 0 0; }
.evoucherwp textarea[disabled="disabled"] {
  background: #DFDFDF !important; }
.evoucherwp table.form-table {
  margin: 0;
  position: relative; }
  .evoucherwp table.form-table .select2-container {
    display: block;
    max-width: 350px; }
  .evoucherwp table.form-table .forminp-radio ul {
    margin: 0; }
    .evoucherwp table.form-table .forminp-radio ul li {
      line-height: 1.4em; }
  .evoucherwp table.form-table textarea.input-text {
    height: 100%;
    min-width: 150px;
    display: block; }
  .evoucherwp table.form-table input.regular-input {
    width: 25em; }
  .evoucherwp table.form-table textarea.wide-input {
    width: 100%; }
  .evoucherwp table.form-table img.help_tip,
  .evoucherwp table.form-table .evoucherwp-help-tip {
    padding: 0;
    margin: -4px 0 0 5px;
    vertical-align: middle;
    cursor: help;
    line-height: 1; }
  .evoucherwp table.form-table span.help_tip {
    cursor: help;
    color: #2ea2cc; }
  .evoucherwp table.form-table th {
    position: relative;
    padding-right: 24px; }
  .evoucherwp table.form-table .select2-container {
    vertical-align: top;
    margin-bottom: 3px; }
  .evoucherwp table.form-table table.widefat th {
    padding-right: inherit; }
  .evoucherwp table.form-table th img.help_tip,
  .evoucherwp table.form-table th .evoucherwp-help-tip {
    margin: 0 -24px 0 0;
    float: right; }
  .evoucherwp table.form-table .wp-list-table .evoucherwp-help-tip {
    float: none; }
  .evoucherwp table.form-table fieldset {
    margin-top: 4px; }
    .evoucherwp table.form-table fieldset img.help_tip,
    .evoucherwp table.form-table fieldset .evoucherwp-help-tip {
      margin: -3px 0 0 5px; }
    .evoucherwp table.form-table fieldset p.description {
      margin-bottom: 8px; }
    .evoucherwp table.form-table fieldset:first-child {
      margin-top: 0; }

/**
 * Help Tip
 */
.evoucherwp-help-tip {
  color: #666;
  display: inline-block;
  font-size: 1.1em;
  font-style: normal;
  height: 16px;
  line-height: 16px;
  position: relative;
  vertical-align: middle;
  width: 16px; }
  .evoucherwp-help-tip:after {
    font-family: 'Dashicons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
    cursor: help; }

h2 .evoucherwp-help-tip {
  margin-top: -5px;
  margin-left: .25em; }

#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999; }

#tiptip_holder.tip_top {
  padding-bottom: 5px; }
  #tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: #333; }
#tiptip_holder.tip_bottom {
  padding-top: 5px; }
  #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: #333; }
#tiptip_holder.tip_right {
  padding-left: 5px; }
  #tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: #333; }
#tiptip_holder.tip_left {
  padding-right: 5px; }
  #tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: #333; }

#tiptip_content {
  color: #fff;
  font-size: .8em;
  max-width: 150px;
  background: #333;
  text-align: center;
  border-radius: 3px;
  padding: .618em 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  #tiptip_content code {
    padding: 1px;
    background: #888; }

#tiptip_arrow,
#tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0; }

/*# sourceMappingURL=admin.css.map */
